<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="WebowaAplikacjaRunnerPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>Model.Number</class>
    <class>Model.Picture</class>
    <class>Model.Event</class>
    <class>Model.Role</class>
    <class>Model.User</class>
    <class>Controller.Picture</class>
    <class>Controller.Role</class>
    <class>Controller.User</class>
    <class>Controller.Number</class>
    <class>Controller.Event</class>
    <class>Model.Articleheader</class>
    <class>Model.Article</class>
    <class>Model.Headers</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/system?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value="Parnassus12341!"/>
    </properties>
  </persistence-unit>
</persistence>
